</div>
<div class="footer">
   <p>Made with <strike><span style="color: #ee2828; font-size: 1.4em">&hearts;</span></strike> <a href="https://stackoverflow.com/">Stackoverflow</a>
      &#183; <a href="https://www.w3schools.com">w3school</a> &#183; <a href="https://github.com">Github</a> &#183; <a
         href="https://medium.com">Medium tutorial articles</a> &#183; <a href="https://www.youtube.com/results?search_query=indian+tutorial+programming">Indian's
         YTube vods</a></p>
</div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script src="/js/froala_editor.min.js"></script>
<script src="/js/table.min.js"></script>
<script type="text/JavaScript">
   var theDate = new Date();
   document.getElementById('currentYear').innerHTML = theDate.getFullYear();

  
</script>
<script>
   $('.popover-dismiss').popover({
      trigger: 'focus'
   })
</script>
</body>

</html>