<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <title>Bloggie</title>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
   <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
   <script src="/js/froala_editor.min.js"></script>
   <script src="/js/table.min.js"></script>
   <script src="/js/align.min.js"></script>
   <script src="/js/image.min.js"></script>
   <script src="/js/code_view.min.js"></script>

   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
   <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
   <link rel="stylesheet" href="/css/froala_editor.min.css">
   <link rel="stylesheet" href="/css/table.min.css">
   <link rel="stylesheet" href="/css/image.min.css">
   <link rel="stylesheet" href="/css/code_view.min.css">
   <link rel="stylesheet" href="/css/main.css">
   <link rel="shortcut icon" href="/favicon.ico" />
   <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
</head>

<body>
   <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container" style="padding: 0">
         <!-- Brand and toggle get grouped for better mobile display -->
         <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
               aria-expanded="false">
               <span class="sr-only">Toggle navigation</span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/" style="font-size:2rem">Bloggie</a>
         </div>

         <!-- Collect the nav links, forms, and other content for toggling -->
         <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
               <% if(!currentUser) { %>
               <li>
                  <a href="/login">Login</a>
               </li>
               <li>
                  <a href="/register">Sign Up</a>
               </li>
               <% } else { %>
               <li>
                  <!-- <a href="#">Signed In as
                     <%= currentUser.username %>
                  </a> --><span
                     class="helper"></span>
                  <img src="https://pbs.twimg.com/profile_images/1036553930409431040/c3in8jKL_400x400.jpg" class="img-circle pp-header"
                     alt="Avatar">
               </li>
               <li>
                  <a href="/notification">Notification <span class="w3-badge w3-red notif">3</span></a>
               </li>
               <!-- <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                     aria-expanded="false">Dropdown
                     <span class="caret"></span>
                  </a>
                  <ul class="dropdown-menu">
                     <li>
                        <a href="#">Action</a>
                     </li>
                     <li>
                        <a href="#">Another action</a>
                     </li>
                     <li>
                        <a href="#">Something else here</a>
                     </li>
                     <li role="separator" class="divider"></li>
                     <li>
                        <a href="#">Separated link</a>
                     </li>
                  </ul>
               </li> -->
               <li>
                  <a href="/logout">Logout</a>
               </li>
               <% } %>
            </ul>
         </div>
         <!-- /.navbar-collapse -->
      </div>
      <!-- /.container-fluid -->
   </nav>
   <div class="container">
      <% if (error && error.length > 0) { %>
      <div class="alert alert-danger" role="alert">
         <%= error %>
      </div>
      <% } %>
      <% if (success && success.length > 0) { %>
      <div class="alert alert-success" role="alert">
         <%= success %>
      </div>
      <% } %>
      <div class="row">