<div id="left-sidebar" class="col-sm-3 panel panel-default">
   <div class="panel-body">
      <div class="well">
         <p><a href="#">My Profile</a></p>
         <div class="row">
            <div class="col-md-3">
               <img src="https://pbs.twimg.com/profile_images/1036553930409431040/c3in8jKL_400x400.jpg" class="img-circle"
                  height="65" width="65" alt="Avatar">
            </div>
            <div class="col-md-9">
               right section
            </div>
         </div>
         <div class="row">
            <div class="col-md-12">
               Bio section
            </div>
         </div>
      </div>
      <div class="well">
         <p><a href="#">Interests</a></p>
         <p>
            <span class="label label-default">News</span>
            <span class="label label-primary">W3Schools</span>
            <span class="label label-success">Labels</span>
            <span class="label label-info">Football</span>
            <span class="label label-warning">Gaming</span>
            <span class="label label-danger">Friends</span>
         </p>
      </div>
      <div class="alert alert-success fade in">
         <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
         <p><strong>Ey!</strong></p>
         People are looking at your profile. Find out who.
      </div>
      <p><a href="#">Link</a></p>
      <p><a href="#">Link</a></p>
      <p><a href="#">Link</a></p>
   </div>
</div>