<div class="col-sm-3">
   <div class="col-sm-12 panel panel-default">
      <div class="panel-body">
         <div>
            <p>Upcoming!</p>
         </div>
         <div class="w3-card-4 w3-hover-shadow">
            <div class="w3-container casual-card">
               <p>Most Popular Tags</p>
            </div>
         </div>
         <div class="w3-card-4 w3-hover-shadow">
            <div class="w3-container casual-card">
               <p>Most Popular Tags</p>
            </div>
         </div>
      </div>
   </div>

   <div class="col-sm-12 panel panel-default">
      <div class="panel-body">
         &copy; Bloggie <span id="currentYear"></span>
         <p>Made with <strike><span style="color: #ee2828; font-size: 1.4em">&hearts;</span></strike> <a href="https://stackoverflow.com/">Stackoverflow</a>
            &#183; <a href="https://www.w3schools.com">w3school</a> &#183; <a href="https://github.com">Github</a>
            &#183;
            <a href="https://medium.com">Medium tutorial articles</a></p>
      </div>
   </div>
</div>