<% include ../partials/header %>

<header>
   <h1>Welcome to Youth of Happiness</h1>
   <p>View posts from all over the world</p>
   this is new page
</header>

<div class="row">
   <div class="col-lg-12">
      <h3>Our Most Popular Stories</h3>
   </div>
</div>

<% include ../partials/footer %>