<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <title>Bloggie</title>
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
   <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
   <link rel="stylesheet" href="/css/login.css">
   <link href="https://fonts.googleapis.com/css?family=Patrick+Hand" rel="stylesheet">
</head>

<body>
   <div class="limiter">
      <div class="container-login100">

         <div class="w3-card-4" style="width: 500px; height: auto">
            <div class="w3-container text-center">
               <div class="w3-row">
                  <h1><strike>Pick your pen</strike> Login</h1>
               </div>
            </div>
            <form class="w3-container" action="/login" method="POST" style="padding-top: 10px; padding-bottom: 20px">
               <p><label>Username</label>
                  <input type="text" class="w3-input" name="username" placeholder="" autocomplete="off">
               </p>
               <p><label>Password</label>
                  <input type="password" class="w3-input" name="password" placeholder="" autocomplete="off">
               </p>
               <button class="w3-btn w3-green w3-block w3-round">Login</button>
            </form>
         </div>
      </div>
   </div>
</body>

</html>