* {
   font-family: 'Patrick Hand', cursive;
   font-size: 1.6rem;
}

body {
   padding-top: 70px;
   background: #e4f7fc;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   font-family: 'Patrick Hand', cursive;
}

/* input[type='text'] {
   font-size: 0.8em;
} */

.div-profile-pciture {
   width: 420px;
   height: 108px;
   overflow: hidden;
   border-color: #DADADA;
   border-style: solid;
   border-width: thin;
   background-color: pink;
}

.profile-picture {
   display: block;
   margin: auto;
   margin-top: 10px;
}

.like-comment-section {
   padding: 12px 0;
}

.like-comment-section a {
   color: inherit;
}

.author-date-section {
   padding: 12px 0;
}

.container {
   width: 100%;
}

.panel-body {
   padding: 15px 0;
}

.helper {
   display: inline-block;
   height: 100%;
   vertical-align: middle;
}

.pp-header {
   height: 45px;
   vertical-align: middle;
   width: auto;
   margin: 3px 0;
}


.w3-card-4 {
   box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.19);
   margin-bottom: 10px;
}

.w3-hover-shadow:hover {
   box-shadow: 0 4px 5px 0 rgba(0,0,0,0.2), 0 4px 10px 0 rgba(0,0,0,0.19);
}

.panel,
.navbar.navbar-default.navbar-fixed-top {
   box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.19);
}

.image-feed {
   background-repeat: no-repeat;
   background-position: center;
}

#left-sidebar {
   float: left;
}

.footer {
   margin: 45px 0;
}

.w3-container.casual-card {
   padding-top: 10px;
   padding-bottom: 20px;
}

.notif {
   font-size: 1.4rem;
}

@media (min-width: 1200px) {
   .container {
      width: 70%;
   }
}